<div class="black-frame">
    <div>
      <a href="#">All listings</a>
      <a href="/dashboard">Dashboard</a>
      <a href="#">My listings</a>
      <a href="#">My rentals</a>
      <a href="#">Settings</a>
    </div>
  </div>