<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>rent4all</title>
  </head>
  <body>
    <!-- Navbar -->
    <header><%- include('partials/navbar', {page: '/403'}) %></header>
    <main>
        <div>THIS IS 403 PAGE</div>
        <p>You need to verify your info before posting a property.</p>
        <a href="/verification">Go verify now</a>
    </main>
  
    <%- include('partials/footer', {page: '/403'}) %>
  </body>
</html>