<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>rent4all</title>
  </head>
  <body>
    <!-- Navbar -->
    <header><%- include('partials/navbar', {page: '/404'}) %></header>
    <main>
        <div>THIS IS 404 PAGE</div>
    </main>
  
    <%- include('partials/footer', {page: '/404'}) %>
  </body>
</html>