<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>rent4all</title>
  </head>
  <body>
    <!-- Navbar -->
    <header><%- include('partials/navbar', {page: '/emailSent'}) %></header>
    <main>
        <h1>Your email had been confirmed</h1>
        <p>You will be redirected back to login page 5s...</p>
  
          <script>
            setTimeout(function () {
              window.location.href = "/login"; // Redirect to the emailSent page.
            }, 5000);
          </script>
        </div>

        <a href="/login">Click to login now</a>
    </main>
  
    <%- include('partials/footer', {page: '/emailSent'}) %>
  </body>
</html>
