<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>rent4all</title>
  </head>
  <body>
    <!-- Navbar -->
    <header><%- include('partials/navbar', {page: '/emailSent'}) %></header>
    <main>
        <div>An email has been sent to your mailbox!</div>
        <a href="/"><button>Back to Home</button></a>
    </main>
  
  </body>
  <%- include('partials/footer', {page: '/emailSent'}) %>
</html>
