<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>rent4all</title>
  </head>
  <body>
    <!-- Navbar -->
    <header><%- include('partials/navbar', {page: '/mypeople'}) %></header>
    <main>
      <!-- Dashboard Panel -->
      <%- include('partials/dashboardPanel', {page: '/mypeople'}) %> 
      <% if(ppl)
      { %>
      <div>
        <h2>My People</h2>
        <div>
          <span>Change View / Sort by / Most recent</span>
          <a href="#"><button>Invite employee</button></a>
        </div>
      </div>
      <% ppl.forEach((p)=> { %>
      <div class="black-frame"></div>
      <% }) %>
    </main>
    <% } else { %>
    <main>
      <div>
        <h2>My People</h2>
        <div>
          <span>Change View / Sort by / Most recent</span>
          <a href="#"><button>Invite employee</button></a>
        </div>
      </div>
      <div>
        <p>
          There's no one on your list.<br />Send an invitation to someone within
          your orgranization.
        </p>
      </div>
    </main>
    <% } %> 
    <%- include('partials/footer', {page: '/mypeople'}) %>
  </body>
</html>
