<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>rent4all</title>
  </head>
  <body>
    <!-- Navbar -->
    <header><%- include('partials/navbar', {page: '/postProperty'}) %></header>
    <main>
      <h2>Key Infomation</h2>
      <p>All listing prices entires are in Canadian dollar (CAD)</p>
      <form action="/postProperty" method="POST" class="">
        <div>
          <div class="">
            <label>ADDRESS*</label>
            <input
              required
              type="text"
              name="address.addressline1"
              placeholder="Address line1"
            />
            <input
              type="text"
              name="address.addressline2"
              placeholder="Address line2 (optional)"
            />
            <input required type="text" name="city" placeholder="City" />
            <input required type="text" name="zipCode" placeholder="Zip code" />
          </div>

          <div class="">
            <label>LISTING PRICE*</label>
            <input
              required
              type="number"
              name="listing_price.no_of_rooms"
              placeholder="Available individual spaces"
            />
            <input
              required
              type="number"
              name="listing_price.price_space"
              placeholder="Price per space"
            />
          </div>

          <div class="">
            <label>AMENITIES*</label>
            <input
              required
              type="number"
              name="amenities.individual_space_size"
              placeholder="Individual space size (sqft)"
            />
            <input
              required
              type="number"
              name="amenities.no_bathrooms"
              placeholder="Number of bathrooms"
            />
            <input
              required
              type="number"
              name="amenities.no_parking"
              placeholder="Available parkings"
            />
            <select name="amenities.pet_allowed">
              <option selected disabled value="">Pets allowed?</option>
              <option value="1">Yes</option>
              <option value="0">No</option>
            </select>
          </div>

          <!-- <div>
            <div class="">
              <label for="duration_start" class="">Start Date</label>
              <input required type="date" name="duration_start" />
            </div>
            <div class="">
              <label for="duration_end" class="">End Date</label>
              <input required type="date" name="duration_end" />
            </div>
          </div> -->

          <div>
            <label for="img_url">PROPERTY IMAGE</label>
            <input type="url" name="img_url" placeholder="Add image" />
          </div>

          <div class="">
            <label>PROPERTY POLICIES*</label>
            <input required type="text" name="policies" />
          </div>

          <div class="">
          <label for="propertyName" class="">PROPERTY TITLE</label>
            <input
              required
              type="text"
              name="propertyName"
              placeholder="Property title"
            />
          </div>

          <div class="">
            <label for="propertyName" class="">INTERESTS</label>
              <input
                required
                type="text"
                name="interest"
                placeholder="Start typing your interests in a co-owner"
              />
            </div>

          <div>
            <label for="status">Allow everyone to see this listing?</label>
            <input type="checkbox" name="status" />
          </div>

          <div class="checkbox-container">
            <input type="checkbox" id="terms" name="terms" required />
            <label for="terms"
              >I accept all <a href="#">terms and conditions</a></label
            >
          </div>

          <a href="#" class="a_aboutYou"
            ><button type="button">Previous</button></a
          >
          <button type="submit">Post Property</button>
        </div>
      </form>
    </main>
    <%- include('partials/footer', {page: '/postProperty'}) %>
  </body>
</html>
