<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>roof4All</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header><%- include('partials/navbar', {page: '/register'}) %></header>
    <main class="">
      <div class="">
        <div class="">
          <h1 class="">Register</h1>
          <p class="">Get a roof over your head</p>
        </div>
      </div>
      <form action="/register" method="POST" class="">
        <!-- Username -->
        <div class="">
          <label class="">Username</label>
          <input
            required
            type="text"
            name="userName"
            placeholder="username"
            class=""
          />
        </div>
        <!-- Password -->
        <div class="">
          <label class="">Password</label>
          <input
            required
            type="password"
            name="password"
            placeholder="password"
            class=""
          />
        </div>
        <div class="">
          <label class="">Re-eneter Password</label>
          <input
            required
            type="password"
            name="password2"
            placeholder="re-enter password"
            class=""
          />
        </div>
        <div class="">
          <label class="">Email</label>
          <input
            required
            type="email"
            name="email"
            placeholder="e.g. cs@roof4all.com"
            class=""
          />
        </div>

        <!-- <div>
          <label for="">Type</label>
          <select required name="userType">
            <option value="" disabled selected>Select Type</option>
            <option value="Guest">Guest</option>
            <option value="Host">Host</option>
            <option value="Business">Business</option>
          </select>
        </div> -->

        <div>
          <!-- GUEST -->
          <div>
            <input
              type="radio"
              id="guest"
              name="userType"
              value="guest"
              checked="checked"
            />
              <label for="guest">Guest</label><br />
            <span>Find accomodations, post your request</span>
          </div>
          <!-- HOST -->
          <div>
              <input type="radio" id="host" name="userType" value="host" />  
            <label for="host">Host</label><br />
            <span>Rent out houses, find tenent</span>
          </div>
          <!-- BUSINESS -->
          <div>
             
            <input
              type="radio"
              id="business"
              name="userType"
              value="business"
            />
              <label for="business">Business</label><br />
            <span>Find accomodations for employees</span>
          </div>
        </div>

        <div class="">
          <button type="submit" class="">Confirm</button>
        </div>
      </form>
      <!-- ERROR MESSAGE -->
      <div class="message">
        <% if(errorMessage) { %>
        <p><%= errorMessage %></p>
        <% } %> <% if (successMessage) { %>
        <p><%= successMessage %></p>

        <script>
          setTimeout(function () {
            window.location.href = "/login"; // Redirect to the login page after 3 seconds
          }, 3000);
        </script>

        <% } %>
      </div>
    </main>
  </body>
  <%- include('partials/footer', {page: '/register'}) %>
</html>
