<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>rent4all</title>
  </head>
  <body>
    <!-- Navbar -->
    <header><%- include('partials/navbar', {page: '/verification'}) %></header>
    <main class="">
      <!-- ACCOUNT SIDE BOX -->
      <div class="black-frame">
        <p>Account</p>
        <hr />
        <div>
          <a href="#" class="a_aboutYou">About you</a>
          <a href="#" class="a_KYCVerification">KYC Verification</a>
        </div>
        <hr />
        <a href="/logout">Logout</a>
      </div>
      <!-- PART I - ABOUT YOU -->
      <form action="/verification" method="POST" class="">
        <div id="aboutYou">
          <p class="">About You</p>
          <div class="">
            <p>Name</p>
            <div class="">
              <input
                required
                type="text"
                name="fname"
                placeholder="first name"
              />
            </div>
            <div class="">
              <input type="text" name="lname" placeholder="Last name" />
            </div>
          </div>

          <div class="">
            <p>Demographics</p>
            <div class="">
              <input required type="date" name="dob" />
              <% if (errorMessage){ %>
                <span style="color:red"><%=errorMessage%></span><br/>
              <%} %>
            </div>
            <div class="">
              <select required name="gender">
                <option value="" disabled selected>Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="others">Others</option>
                <option value="prefer not to say">Prefer not to say</option>
              </select>
            </div>
          </div>

          <div class="">
            <label for="employment_status">Employment Status</label>
            <select required name="employment_status">
              <option value="" disabled selected>Select an option</option>
              <option value="fulltime">Full-time</option>
              <option value="parttime">Part-time</option>
              <option value="student">Student</option>
            </select>
            <p>
              You may be required to verify your employment status in order to
              use certain features
            </p>
          </div>

          <div class="">
            <label for="purpose">How will you mainly use our platform?</label>
            <select required name="purpose">
              <option value="" disabled selected>Select an option</option>
              <option value="To find, compare, and book properties">To find, compare, and book properties</option>
              <option value="To rent spaces suitable for events, such as weddings, corporate events, or family gatherings">To rent spaces suitable for events, such as weddings, corporate events, or family gatherings</option>
              <option value="To find suitable student housing, focusing on affordability and proximity to campus">To find suitable student housing, focusing on affordability and proximity to campus</option>
              <option value="To have platform to manage properties for rental">To have platform to manage properties for rental</option>
            
            </select>
          </div>
          <a href="#" class="a_KYCVerification"
            ><button type="button">Continue</button></a
          >
        </div>

        <!-- PART II - KYC Verification -->
        <div id="KYCVerification">
          <p class="">Verify Your Identity</p>
          <div>
            <p>We require a clear copy of your government-issued ID</p>
          </div>

          <div class="">
            <label for="doc_type">Document Type</label>
            <select required name="doc_type">
              <option value="" disabled selected>Select an option</option>
              <option value="International Passport">International Passport
              </option>
              <option value="rivers License">Drivers License</option>
              <option value="Ontario card">Ontario card</option>
              <!-- <option value=""></option> -->
            </select>
            <p>
              You may be required to verify your employment status in order to
              use certain features
            </p>
          </div>

          <div class="">
            <input required type="file" name="upload_doc" />
          </div>

          <div class="checkbox-container">
            <input type="checkbox" id="terms" name="terms" required>
            <label for="terms">I accept all <a href="#">terms and conditions</a></label>
          </div>
          <a href="#" class="a_aboutYou"
          ><button type="button">Previous</button></a
        >
          <button type="submit">Complete registration</button>
        </div>
      </form>
    </main>
    <script>
      const a_aboutYou = document.querySelectorAll(".a_aboutYou");
      const div_aboutYou = document.getElementById("aboutYou");
      const a_KYCV = document.querySelectorAll(".a_KYCVerification");
      const div_KYCV = document.getElementById("KYCVerification");

      a_aboutYou.forEach((link) => {
        link.addEventListener("click", function (e) {
          e.preventDefault();
          div_aboutYou.style.display = "block";
          div_KYCV.style.display = "none";
        });
      });

      a_KYCV.forEach((link) => {
        link.addEventListener("click", function (e) {
          e.preventDefault();
          div_aboutYou.style.display = "none";
          div_KYCV.style.display = "block";
        });
      });
 
    </script>
    <%- include('partials/footer', {page: '/verification'}) %>
  </body>
</html>
